.aboutme-section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 6rem;
}

.aboutme-text {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: #914b04;
    font-weight: 600;
    line-height: 1.5rem;        
}

.aboutme-text::first-letter {
    font-size: 2rem;
}

.aboutme-image {
    background-image: url('../images/photo-presentation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -30px;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(145, 145, 145);  

}

@media screen and (max-width: 768px) {
    .aboutme-section {
        display: block;
    }

    .aboutme-text > h1 {
        text-align: center;
    }

    .aboutme-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .aboutme-image {
        margin: auto;
    }
}