
.contactme-section {
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    
}

.contactme-title {
   margin-top: 5rem; 
}

.contactme-list {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
    margin-top: 10rem;
  
}

.contactme-list > li > a {
    list-style: none;
}


.whats, .tel, .github, .linkedin, .email {
    align-items: center;
    
}

.whats, .tel, .github, .linkedin, .email > p {
    font-size: 1.5rem;
    font-weight: 600;
    
} 

.footer {
    margin-top: 130px;
    padding-top: 0.7rem;
    align-self: center;
    border-top: 1pt solid white;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .contactme-section {
        display: block;
        margin-top: 1rem;
    }

    .contactme-title {
        font-size: 3rem; 
        text-align: center;
        padding-left: 0px;  
        margin-top: 0%; 
    }

    .contactme-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
    }

    .contactme-list > li {
        margin: auto;
        padding: 10px;

    }

    .contactme-list > li > a {
        text-decoration: none;
    }

    .whats, .tel, .github, .linkedin, .email {
        align-items: center;
        margin: auto;
        
    }

    .footer {
        display: none;
    }

}

@media screen and (orientation: landscape) {
    .contactme-section {
        margin-top: 1rem;
    }

    .contactme-title {
        font-size: 3rem; 
        text-align: center;
        padding-left: 0px;  
        margin-top: 0%; 
    }

    .contactme-list > li > a {
        text-decoration: none;
    }

    .footer {
        display: none;
    }
}