
.homepage-section {
    background-size: cover;
    display: block;
    font-family: Andale Mono, monospace;
    align-items: center;
    /* backdrop-filter: blur(4px); */
}

.home-section {   
    color: #914b04;
    text-align: left;
    margin-top: 5rem;
    padding: 2rem 3.5rem;      
    
}

.home-section > h3 {
    font-size: 2.5rem;
    margin-top: 8rem;

}

.name {
    font-size: 3.5rem;
    font-family: helvetica, sans-serif;
}

/* Smartphone screen  */

@media (max-width: 480px) {

    .homepage-section {
        display: flex;
        /* margin: auto; */
        backdrop-filter: blur(0px);
        text-align: center;
        /* background-color: red; */
    }

    .home-section {
        text-align: center;
        margin:auto
    }

    .home-section > h3 {
        font-size: 2rem;
    }

}

/* Tablet screen */

@media (min-width: 480px) {

    .homepage-section {
        display: flex;
        /* margin: auto; */
        backdrop-filter: blur(0px);
        text-align: center;
        /* background-color: blue; */
    }

    .home-section {
        text-align: center;
        margin: auto
    }

    .home-section > h3 {
        font-size: 2rem;
    }

}


/* Notebook screen */

@media (min-width: 768px) {

    .homepage-section {
        display: block;
        backdrop-filter: none;
        text-align: center;
    }

    .home-section {
        text-align: center;
        margin: 13.5rem auto
    }

    .home-section > h3 {
        font-size: 2rem;
    }

}

/* Desktop screen  */

@media (min-width: 1024px) {

    .homepage-section {
        display: flex;
        justify-content: flex-start;
        backdrop-filter: none;
    }

    .home-section {
        text-align: left;
        margin: auto 2rem;
    }

    .home-section > h3 {
        font-size: 3rem;
    }

}




/* Light mode */

.homepage-section-light {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Andale Mono, monospace;
    align-items: center;
    backdrop-filter: blur(4px);
    

}

.home-section-light {   
    color: white;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 3.5rem;
    font-size: 1.5rem;
}

.time-light {
    padding: 0 0 2rem 2rem;
    font-family: 'digital dream';
    font-size: 5rem;
    color: rgb(49, 235, 179);

}

@media screen and (max-width: 768px) {

    .homepage-section-light {
        display: flex;
        margin: auto;
        backdrop-filter: blur(0px);
        text-align: center;

    }

    .home-section-light {
        text-align: center;
        font-size: 1rem;
        margin-top: 20rem;
    }

    .time-light {
        text-align: center;
        font-size: 3rem;
    }

}

