.nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px rgb(197, 0, 0) solid;
}

.nav > a {
    margin: 1rem;
    list-style: none;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(255, 36, 36);
    text-decoration: none;
    font-weight: 600;

}


a:hover {
    color: rgb(49, 235, 179);
}

/* Smartphone screen  */

@media (max-width: 480px) {

    .nav {
        justify-content: flex-start;
        border-bottom: none;
    }

    .menu-icon {     

        padding: 10px;
        width: 40px;
        z-index: 2;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .show-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 3.5rem;
        background-color: rgba(80, 78, 78, 0.904);
        z-index: 1;
    }

    .hide-links {
        display: none;
    }

    .menu-item {
        font-size: 1.5rem;
        padding: 5px ;
        padding-left: 20px;
        border-radius: 5px 15px;
        margin: .5rem;
        text-decoration: none;
        color: whitesmoke;        
    }

    .menu-item:hover {
    color: rgb(49, 235, 179);
    }

}

/* Tablet screen size */

@media screen and (min-width: 480px) {    

        .nav {
            justify-content: flex-start;
            border-bottom: none;
        }
    
        .menu-icon {       
            padding: 15px;
            width: 40px;
            z-index: 2;
        }
    
        .menu-icon:hover {
            cursor: pointer;
        }
    
        .show-links {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding-top: 3.5rem;
            background-color: rgba(80, 78, 78, 0.904);
            /* box-shadow: 10px 10px 20px 5px black; */
            z-index: 1;
        }
    
        .hide-links {
            display: none;
        }
    
        .menu-item {
            font-size: 2rem;
            padding: 5px ;
            padding-left: 20px;
            border-radius: 5px 15px;
            margin: .5rem;
            text-decoration: none;
            color: whitesmoke;
            
        }

}

/* Notebook screen size */

@media screen and (min-width: 768px) {    

    .nav {
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px rgb(197, 0, 0) solid;
    }

    .menu-icon {
        display: none;
    }
    
    .show-links {
        display: flex;
        margin: 1rem;
        list-style: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: rgb(255, 36, 36);
        text-decoration: none;        
    }
    
    .nav > a {
        font-weight: 600;
    }
    
    a:hover {
        color: rgb(49, 235, 179);
        transition: .2s;
        scale: 1.1;        
    }

    .hide-links {
        display: inline-flex;        
    }

    .show-links {
        display: none;        
    }

    .menu-item {
        font-size: 1.5rem;
        margin: .3rem;
        padding-right: 1rem;
        text-decoration: none;
        color: red;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        
    }
}



/* Desktop screen size */

@media screen and (min-width: 1024px) {    

    .nav {
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px rgb(197, 0, 0) solid;
    }

    .menu-icon {
        display: none;
    }
    
    .show-links {
        display: flex;
        margin: 1rem;
        list-style: none;
        font-size: 1.3rem;
        cursor: pointer;
        color: rgb(255, 36, 36);
        text-decoration: none;        
    }
    
    .nav > a {
        font-weight: 600;
    }
    
    a:hover {
        color: rgb(49, 235, 179);
        transition: .2s;
        scale: 1.1;        
    }

    .hide-links {
        display: inline-flex;        
    }

    .show-links {
        display: none;        
    }

    .menu-item {
        font-size: 1.5rem;
        margin: .4rem;
        padding-right: 1rem;
        text-decoration: none;
        color: red;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        
    }
}
