.nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px rgb(197, 0, 0) solid;
}

.nav > a {
    margin: 1rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(255, 36, 36);
    text-decoration: none;
}

.nav > a {
    font-weight: 600;
}

a:hover {
    color: rgb(49, 235, 179);
}

/* @media screen and (max-width: 615px) {

    a {
        font-size: 1rem;
        margin: 1rem auto;
    }
} */

@media screen and (max-width: 768px) {

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: none;

    }

    .nav > a {
        font-size: 1.5rem;
        border: 1px solid red;
        padding: 5px ;
        padding-left: 20px;
        border-radius: 5px 15px;
        margin: .5rem;
    }
    

}

@media screen and (orientation: landscape) {

    .nav {
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px rgb(197, 0, 0) solid;
    }

    .nav > a {
        margin: 1rem;
        list-style: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: rgb(255, 36, 36);
        text-decoration: none;
    }
    

}